<div class="bubble" ng-animate="'animate'" ng-repeat="bubble in bubbles">
    <header>
        <figure><img ng-src="{{bubble.imageUrl}}"/></figure>
        <h1>{{bubble.title}}</h1>
        <aside>by {{bubble.author}} [{{bubble.when}}]</aside>
    </header>
    <article>
        
        <p>{{bubble.message | limitTo:bubble.char_limit}}<span ng-show="bubble.char_limit<bubble.message.length">.......</span></p>
        
        <aside>
            <a ng-show="bubble.char_limit<bubble.message.length" ng-click="bubble.char_limit=bubble.char_limit+10000">Read More</a>
        </aside>
    </article>
</div><!--end .bubble -->