<div class="bubble" ng-animate="'animate'" ng-repeat="bubble in bubbles">
    <header>
        <figure><img ng-src="{{bubble.imageUrl}}"/></figure>
        <h1>{{bubble.title}}</h1>
        <aside>by {{bubble.author}} [{{bubble.when}}]</aside>
    </header>
    <article>
        
        <p>
            {{bubble.limited_msg}}
            <span ng-show="bubble.limited_msg!=bubble.message">
                <a class="read_more" ng-click="bubble.limited_msg = bubble.message">Read More</a>
            </span>
        </p>

    </article>
</div><!--end .bubble -->