@import url(http://fonts.googleapis.com/css?family=Dosis);
@import url(http://fonts.googleapis.com/css?family=Maven+Pro);

@import url(http://fonts.googleapis.com/css?family=Text+Me+One);
@import url(http://fonts.googleapis.com/css?family=Comfortaa:400,700,300);

h1
{
    font-size: 160%;
    font-weight: bold;
}

body
{
	background-color: #000;
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
}

#wrapper-div
{
    min-width: 1200px;
}

#top-div
{
	display: block;
	
    text-align: right;
    
    height: 40px;
    background: #333 url('images/top-bar-bg.png') repeat-x;
    border-bottom: 1px solid #0cf;
}

#head-div
{
    background-color: #0070cc;
    height: 141px;
}
#head-div img
{
    position: relative;
    
    left: 60px;
    top: 40px;
}

#separator-div
{
    background: #0070cc url('images/main-nav-bg.png') repeat-x;
    
    height: 40px;
}

/*  ==Used to center Navigation==  */
.outer-center
{
    float: right;
    right: 50%;
    position: relative;
}
.inner-center
{
    float: right;
    right: -50%;
    position: relative;
}
.clear
{
    clear: both;
}
/*  ==End==  */

#nav-div ul
{
	display: block;
	
    height: 40px;
}
#nav-div ul li
{
    float: left;
    margin: 0 60px;
}
#nav-div ul li a
{
    display: block;
    
    height: 40px;
    padding: 0 30px;
    
    font-family: 'Comfortaa', sans-serif;
    font-size: 10pt;
    line-height: 40px;
    vertical-align: middle;
    
    color: #ddf;
    text-decoration: none;
    text-transform: lowercase;
    
    letter-spacing: 4px;
}
#nav-div ul li a:hover
{
    color: #fff;
}

.nav-selected
{
    box-shadow: inset 0 0 10px #036;
}

#main-div
{
    width: 1100px;
	min-height: 1000px;
    margin: 0 auto 100px auto;
}



/*  BUBBLE  */

.bubble
{
	position: relative;
	width: 600px;
	min-height: 300px;
    
    border: 0;
    border-radius: 20px;

	background-color: #0af;

	padding: 20px;
    margin-top: 60px;
    
    font-family: 'Comfortaa', sans-serif;
}

.bubble:nth-child(even)
{
    left: 440px;
}

.bubble header
{
    padding-bottom: 40px;
}

.bubble header figure
{
    float: left;
    padding-right: 20px;
}

.bubble header figure img
{
    border-radius: 5px;
}

.bubble header h1
{
    letter-spacing: 2px;
}

.bubble header aside
{
    position: relative;
    top: 12px;
    
    font-size: 8pt;
    letter-spacing: 2px;
}

.bubble article p
{
    padding: 0 20px 20px;
    
	line-height: 24px;
	text-align: justify;
    text-indent: 40px;
    
    font-size: 10pt;
    letter-spacing: 1px;
}

/*  BUBBLE END  */

#footer-div
{
    height: 300px;
    background-color: #333;
}