@import url(http://fonts.googleapis.com/css?family=PT+Sans);

body
{
	background-color: #000;
    color: #fff;
}

#name-dialog
{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 999;
    margin-top: 50px;
    
    font-family: "PT Sans", sans-serif;
    text-align: center;
}
#name-dialog p
{
    margin-bottom: 10px;
}

#display
{
    width: calc(100% - 80px);
    margin: 40px 40px 80px;
    
    font-family: "PT Sans", sans-serif;
}
#display .error
{
    color: #f00;
}
#display .username
{
    color: #f00;
    font-weight: bold;
    padding-right: 10px;
}
#display .self
{
    color: #66f;
}
#display p
{
    margin-bottom: 10px;
}

#input
{
	display: block;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
    height: 40px;

	text-align: center;
}

.text-field
{
    border: 1px dashed #0a0;
	background-color: #000;
	color: #0a0;
	outline: none;
    
    padding: 5px;
}

#username-text
{
    left: 0;
    width: 200px;
}

#input-text
{
	width: 80%;
}
